* {
    box-sizing: border-box;
}

header {
    /*min-height: 20vh;*/
    padding-top: 1rem;
    padding-bottom: 2rem; 
    padding-left: 2rem;
    background-color: maroon;
    color: bisque;
}

header h1 {
    font-size: 2.3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

header nav li {
    display: inline-block;
}

header nav a {
    padding: 1rem 2rem;
    background-color: bisque;
    color: maroon;
}
body {
    padding: 0;
    margin: 0;
}
p {
    padding: 0rem;
    margin: 1rem;
    width: 40%;
    /*border: 0.1rem solid;*/ 
    background-color: bisque;
}

.vida {
   /*  border: 0.1rem solid; */
    margin: 0rem;
    padding: 1rem;
    background-color: rgb(129, 127, 255);
}
.obras{
    
    margin: 0rem;
    padding: 1rem;
    background-color: aquamarine;
    width: calc(calc(100% - calc(var(--margen)*3))/4);
    float: left;
    
    }
    
p:not(:last-child) {
        margin-right: var(--margen);
    } 
    
p:first-child {
        /* border-left: 1px solid;  */
    } 
    
p:nth-child(odd) {
        background-color: aqua;
        /*border: 1px solid bisque;*/
    }
    
p:nth-child(even) {
        background-color: bisque;
        /*border: 1px solid aqua;*/
    }
}